@import "tailwindcss";

@theme inline {
  --color-error:#F43F5E;
  --color-hover:#192237;
  --color-success:#22C55E;
  --color-border: #293550;
  --color-accent: #7C5CFF;
  --color-surface: #101522;
  --color-background: #080B14;
  --color-font-primary: #F4F7FB;
  --color-font-secondary: #94A3B8;
  --font-inter: var(--font-inter);
  --font-jetbrain-mono: var(--font-jetBrain-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
